# Ignore everything in the root except the "wp-content" directory
/*
!.gitignore
!wp-content/
!wp-config.php

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/

# Ignore everything in the "plugins" directory, except plugins you specify
wp-content/plugins/*
!wp-content/plugins/manual-image-crop

# Ignore everything in the "themes" directory except themes you specify
wp-content/themes/*
!wp-content/themes/fictional-university-theme
wp-content/themes/fictional-university-theme/build/

node_modules
.DS_Store